#define SOMFY_REMOTE_KÜCHE 0x123456
#define SOMFY_REMOTE_ESSZIMMER_FENSTER 0x654321
#define SOMFY_REMOTE_ESSZIMMER_TERRASSENTÜR 0x654322
#define SOMFY_REMOTE_WOHNZIMMER_TERRASSENTÜR 0x654323
#define SOMFY_REMOTE_WOHNZIMMER_FENSTER 0x654324
